
<div class="profile">
	<h1> Hello from Code Collective London </h1>

	<img src="http://photos4.meetupstatic.com/photos/event/2/d/2/600_332880722.jpeg" />
	<h2> We meet every week in London to learn to code</h2>
	<h2 class="profile"></h2>

	<p> To learn more please visit:</p>
	<a href="http://www.meetup.com/CodeCollective"> Code Collective </a>
	<p> Thanks to Rosario for teaching us, visit Coderwave for more courses:</p>
	<p><a href="http://coderwave.com"> Coderwave </a></p>

</div>

<h3> The Minimum Ruby/Sinatra website code can be found in the following repository: </h3>
<p><a href="https://github.com/joansenent/Minimum_Ruby-Sinatra_Website"> Github: Minimum Ruby/Sinatra website </a></p>
